/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 10px;
  color: #343a40;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
}

.formulario {
  margin-bottom: 20px;
}

form input[type="text"],
form input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  font-size: 1em;
}

form input[type="submit"] {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #218838;
}

.tareas {
  margin-top: 20px;
}

ul {
  list-style: none;
}

ul li {
  background: #e9ecef;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-delete{
  background-color: #ea2020;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-tareas-completed{
  background-color: #2d5a13;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-tareas-incompleta{
  background-color: #5a5858;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ul li button:hover {
  background-color: #7facf0;
}

.btn-tareas {
  background-color: #007bff;
  color: white;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-tareas:hover {
  background-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  main {
    padding: 10px;
  }

  form input[type="text"],
  form input[type="submit"] {
    margin: 5px 0;
  }
}


