
.btn-tareas {
  background-color: $secondary-color;
  color: rgb(67, 136, 239);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $secondary-hover;
  }
}


#btn-renderizar-tareas {
  padding: 10px;
  color: $secondary-color;

}